@(startForm:Form[String])(implicit request: RequestHeader)
@import helper._
@import securesocial.core.IdentityProvider
@implicitFieldConstructor = @{ FieldConstructor(securesocial.views.html.inputFieldConstructor.f) }

@securesocial.views.html.main( Messages("securesocial.password.title") ) {
	<div id="forgot-box" class="forgot-box widget-box no-border visible">
										<div class="widget-body">
											<div class="widget-main">
												<h4 class="header red lighter bigger">
													<i class="icon-key"></i>
													@Messages("securesocial.password.title")
												</h4>

    @request.flash.get("error").map { msg =>
    <div class="alert alert-danger">
        @Messages(msg)
    </div>
    }

    <form action="@securesocial.core.providers.utils.RoutesHelper.handleStartResetPassword().absoluteURL(IdentityProvider.sslEnabled)"
          class="form-horizontal"
          autocomplete="off"
          method="POST"
    >
        <fieldset>
            @helper.inputText(
            startForm("email"),
            '_label -> Messages("securesocial.signup.email1"),
            'class -> "form-control"
            )

            <div class="clearfix">
				<button type="submit" class="width-35 pull-right btn btn-sm btn-danger">
					<i class="icon-lightbulb"></i>
					@Messages("securesocial.password.reset")
				</button>
			</div>

        </fieldset>
    </form>
</div><!-- /widget-main -->

<div class="toolbar center">
	<a href="@securesocial.core.providers.utils.RoutesHelper.login()" class="back-to-login-link">
		<i class="icon-arrow-left"></i>
		@Messages("securesocial.login.return")
	</a>
</div>
</div><!-- /widget-body -->
</div><!-- /forgot-box -->
}