@(startForm:Form[String])(implicit request: RequestHeader)
@import helper._
@import securesocial.core.IdentityProvider
@implicitFieldConstructor = @{ FieldConstructor(securesocial.views.html.inputFieldConstructor.f) }

@securesocial.views.html.main( Messages("securesocial.signup.title") ) {
	<div id="signup-box" class="signup-box widget-box no-border visible">
										<div class="widget-body">
											<div class="widget-main">
												<h4 class="header green lighter bigger">
													<i class="icon-group blue"></i>
													@Messages("securesocial.signup.title")
												</h4>

    @request.flash.get("error").map { msg =>
    <div class="alert alert-danger">
        @Messages(msg)
    </div>
    }

    <form action="@securesocial.core.providers.utils.RoutesHelper.handleStartSignUp().absoluteURL(IdentityProvider.sslEnabled)"
          class="form-horizontal"
          autocomplete="off" method="post"
    >
        <fieldset>
            @helper.inputText(
            startForm("email"),
            '_label -> Messages("securesocial.signup.email1"),
            'class -> "form-control"
            )

			<div class="space-24"></div>

			<div class="clearfix">
				<button type="reset" class="width-30 pull-left btn btn-sm">
					<i class="icon-refresh"></i>
					@Messages("securesocial.signup.cancel")
				</button>

				<button type="submit" class="width-65 pull-right btn btn-sm btn-success">
					@Messages("securesocial.signup.createAccount")
					<i class="icon-arrow-right icon-on-right"></i>
				</button>
			</div>
			

        </fieldset>
    </form>
</div>

<div class="toolbar center">
	<a href="@securesocial.core.providers.utils.RoutesHelper.login()" class="back-to-login-link">
		<i class="icon-arrow-left"></i>
		@Messages("securesocial.login.return")
	</a>
</div>
</div><!-- /widget-body -->
</div><!-- /signup-box -->
	
}