<div class="widget-box transparent">
	<div class="widget-header widget-header-small">
		<h6 class="orange">
			<i class="icon-rss orange"></i>
			乐享消息流
		</h6>

		<div class="widget-toolbar action-buttons">
			<a href="#" data-action="reload">
				<i class="icon-refresh blue"></i>
			</a>
		</div>
	</div>

	<div class="widget-body">
		<div class="widget-main padding-8">
			<div class="row">
				<div class="col-xs-12 col-sm-12">
					<div class="timeline-container">
						<div class="timeline-label">
							<span class="label label-primary arrowed-in-right label-lg">
								<b>圈子：TSM / 最多显示三个</b>
							</span>
							<!-- Need add group panel to show group information -->
							<span class="label label-success arrowed-in-right arrowed label-lg">
								<b id="tag-tsm">TSM</b>
							</span>
							<span class="label label-success arrowed-in-right arrowed label-lg">
								<b id="tag-tivoli">Tivoli</b>
							</span>
							<span class="label label-success arrowed-in-right arrowed label-lg">
								<b>最多五个</b>
							</span>
							<!-- Nedd add tag panel to show tag information-->
						</div>

						<div class="timeline-items">
							<div class="timeline-item clearfix">
								<div class="timeline-info">
									<img alt="胡敏" src="assets/avatars/avatar1.png">
									<!-- Need to show the user panel-->
									<span class="label label-info label-sm">16:22</span>
								</div>

								<div class="widget-box transparent">
									<div class="widget-header widget-header-small">
										<h5 class="smaller">
											<a href="#" class="blue">胡敏</a>
											<!-- Need to show the user panel-->
											<span class="grey">发布了一篇新博客 IBM Tivoli Storage Manager安装手册</span>
										</h5>

										<span class="widget-toolbar no-border">
											<i class="icon-time bigger-110"></i>
											16:22
										</span>

										<span class="widget-toolbar">
											<a href="#" data-action="reload">
												<i class="icon-refresh"></i>
											</a>

											<a href="#" data-action="collapse">
												<i class="icon-chevron-up"></i>
											</a>
										</span>
									</div>

									<div class="widget-body">
										<div class="widget-main">
											<div class="zm-editable-content clearfix">监控报警永远是运维工作的一大部分工作，也是一个很大的话题。<br>对于公司而言，有两个选项，使用再有产品加改造/完全自己写。<br>也有各自的说辞，不重复造轮子/更加适合自己的公司。<br><img src="http://p1.zhimg.com/d0/e0/d0e0b44db4b0038ecbda539686b11e40_r.jpg" class="img-thumbnail"><br>再有产品又分商业和开源两种，<br>商业主要有HP的Openview，IBM的Tivoli，CA的Unicenter和BMC的ProactiveNet Performance Management Suite。<br>开源的主要有Nagios/Cacti/Zabbix/Zenoss/openNMS等等。<br>上面所讲的数据抓取，大部分是在本机完成，然后发送至监控服务器，也有一部分是在服务器直接抓取。这在小机器量的情况下是没问题，但当服务器数量增加，机房数量增加的时候，一台服务器就可能搞定。这中间就要有一个Proxy的角色，它来负责直接和客户端通讯，拿到数据，也自己抓一部分数据，再传递给中心服务器。</div>
											<div class="space-6"></div>

											<div class="widget-toolbox clearfix">
												<div class="pull-left action-buttons">
													<a href="#"><i class="icon-heart grey bigger-110"></i>&nbsp;推荐(101)</a> &nbsp;
													<a href="#"><i class="icon-comments grey bigger-110"></i>&nbsp;评论(101)</a>
												</div>

												<div class="pull-right action-buttons">
													<a href="#">
														<i class="icon-ok green bigger-130"></i>
													</a>

													<a href="#">
														<i class="icon-pencil blue bigger-125"></i>
													</a>

													<a href="#">
														<i class="icon-remove red bigger-125"></i>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="timeline-item clearfix">
								<div class="timeline-info">
									<i class="timeline-indicator icon-star btn btn-warning no-hover green"></i>
								</div>

								<div class="widget-box transparent">
									<div class="widget-header widget-header-small">
										<h5 class="smaller">New logo</h5>

										<span class="widget-toolbar no-border">
											<i class="icon-time bigger-110"></i>
											9:15
										</span>

										<span class="widget-toolbar">
											<a href="#" data-action="reload">
												<i class="icon-refresh"></i>
											</a>

											<a href="#" data-action="collapse">
												<i class="icon-chevron-up"></i>
											</a>
										</span>
									</div>

									<div class="widget-body">
										<div class="widget-main">
											非常感谢分享
											<div class="widget-toolbox clearfix">
												<div class="pull-right action-buttons">
													<div class="space-4"></div>

													<div>
														<a href="#">
															<i class="icon-heart red bigger-125"></i>
														</a>

														<a href="#">
															<i class="icon-facebook blue bigger-125"></i>
														</a>

														<a href="#">
															<i class="icon-reply light-green bigger-130"></i>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div><!-- /.timeline-items -->
					</div><!-- /.timeline-container -->

					<div class="timeline-container">
						<div class="timeline-label">
							<span class="label label-success arrowed-in-right label-lg">
								<b>Yesterday</b>
							</span>
						</div>

						<div class="timeline-items">
							<div class="timeline-item clearfix">
								<div class="timeline-info">
									<i class="timeline-indicator icon-beer btn btn-inverse no-hover"></i>
								</div>

								<div class="widget-box transparent">
									<div class="widget-header widget-header-small">
										<h5 class="smaller">Haloween party</h5>

										<span class="widget-toolbar">
											<i class="icon-time bigger-110"></i>
											1 hour ago
										</span>
									</div>

									<div class="widget-body">
										<div class="widget-main">
											<div class="clearfix">
												<div class="pull-left">
													Lots of fun at Haloween party.
													<br>
													Take a look at some pics:
												</div>

												<div class="pull-right">
													<i class="icon-chevron-left blue bigger-110"></i>

													&nbsp;
													<img alt="Image 4" width="36" src="assets/images/gallery/thumb-4.jpg">
													<img alt="Image 3" width="36" src="assets/images/gallery/thumb-3.jpg">
													<img alt="Image 2" width="36" src="assets/images/gallery/thumb-2.jpg">
													<img alt="Image 1" width="36" src="assets/images/gallery/thumb-1.jpg">
													&nbsp;
													<i class="icon-chevron-right blue bigger-110"></i>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="timeline-item clearfix">
								<div class="timeline-info">
									<i class="timeline-indicator icon-trophy btn btn-pink no-hover green"></i>
								</div>

								<div class="widget-box transparent">
									<div class="widget-header widget-header-small">
										<h5 class="smaller">Lorum Ipsum</h5>
									</div>

									<div class="widget-body">
										<div class="widget-main">
											Anim pariatur cliche reprehenderit, enim eiusmod
											<span class="green bolder">high life</span>
											accusamus terry richardson ad squid …
										</div>
									</div>
								</div>
							</div>

							<div class="timeline-item clearfix">
								<div class="timeline-info">
									<i class="timeline-indicator icon-food btn btn-success no-hover"></i>
								</div>

								<div class="widget-box transparent">
									<div class="widget-header widget-header-small hidden"></div>

									<div class="widget-body">
										<div class="widget-main"> Going to cafe for lunch </div>
									</div>
								</div>
							</div>

							<div class="timeline-item clearfix">
								<div class="timeline-info">
									<i class="timeline-indicator icon-bug btn btn-danger no-hover"></i>
								</div>

								<div class="widget-box">
									<div class="widget-header header-color-red2 widget-header-small">
										<h5 class="smaller">Critical security patch released</h5>

										<span class="widget-toolbar no-border">
											<i class="icon-time bigger-110"></i>
											9:15
										</span>

										<span class="widget-toolbar">
											<a href="#" data-action="reload">
												<i class="icon-refresh"></i>
											</a>

											<a href="#" data-action="collapse">
												<i class="icon-chevron-up"></i>
											</a>
										</span>
									</div>

									<div class="widget-body">
										<div class="widget-main">
											Please download the new patch for maximum security.
										</div>
									</div>
								</div>
							</div>
						</div><!-- /.timeline-items -->
					</div><!-- /.timeline-container -->

					<div class="timeline-container">
						<div class="timeline-label">
							<span class="label label-grey arrowed-in-right label-lg">
								<b>May 17</b>
							</span>
						</div>

						<div class="timeline-items">
							<div class="timeline-item clearfix">
								<div class="timeline-info">
									<i class="timeline-indicator icon-leaf btn btn-primary no-hover green"></i>
								</div>

								<div class="widget-box transparent">
									<div class="widget-header widget-header-small">
										<h5 class="smaller">Lorum Ipsum</h5>

										<span class="widget-toolbar no-border">
											<i class="icon-time bigger-110"></i>
											10:22
										</span>

										<span class="widget-toolbar">
											<a href="#" data-action="reload">
												<i class="icon-refresh"></i>
											</a>

											<a href="#" data-action="collapse">
												<i class="icon-chevron-up"></i>
											</a>
										</span>
									</div>

									<div class="widget-body">
										<div class="widget-main">
											Anim pariatur cliche reprehenderit, enim eiusmod
											<span class="blue bolder">high life</span>
											accusamus terry richardson ad squid …
										</div>
									</div>
								</div>
							</div>
						</div><!-- /.timeline-items -->
					</div><!-- /.timeline-container -->
				</div>
			</div>
		</div>
	</div>
</div> <!-- first widget-->